/* Colors */

$html-text_color: #3D3D3D;
$background_colors: #6D6D6D;

body {
    color: $html-text_color;
    background-color: $background_colors;
    h2 {
        background-color: $background_colors;
    }
}

p {
    color: $html-text_color;
}
